/***************
FOOTER
***************/

footer {
  @include mobile {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }  
  @include tablet {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}


footer .copyright {
  top: -8px;
  font-size: .75em;
}


footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


footer ul li {
  display: inline-block;
}



/***************
SOCIAL LOGO
***************/

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.social:hover {
  opacity: 1;
}





