/***************
FONT FAMILY
***************/

$primary_font: 'Roboto Slab', serif;



/***************
FONT SIZE
***************/

$primary_size: 700; 
$secondary_size: 300;



/***************
COLOR
***************/

$grey: #525564;
$light_grey: #edeff0;
$tan: #eaaa7f;
$white: #fff;
$black: #000;
$light_brown: #ba8058;
$light_blue: #39add1;
$blue: darken( $light_blue, 30% );
$negroni: #f4c6a6;
$negroni_2: #f2c3a2;
$twine: #ba8058;
$cod_grey: #2D3339;
$alice_blue: #fbfeff;
$manhattan: #eaaa7f;
$korma: #844b24;
$fiord: #52595f;