/**********
GENERAL LAYOUT
**********/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #fff;
  border-radius: 8px;
  max-width: 500px;
}

h1,
h2 {
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  background-color: #384047;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 10px;
  max-width: 500px;
}

p {
  text-align: center;
  color: #8a97a0;
  padding: 5px 5px 30px 5px;
  border-bottom: 3px solid #384047;
  margin-bottom: 5px;
}

.foot {
  border-bottom: none;
}

.signup,
.contact {
  background-color: #C9FCEB;
}

.news {
  background-color: #e9f6fc;
}



/**********
INPUT LAYOUT
**********/

fieldset {
  margin-bottom: 30px;
  border: none;
  padding: 0px;
  margin: 0px;
}

legend {
  font-size: 1.4em;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 2px solid #384047;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="confirm_password"],
textarea,
select {
  border: none;
  border-radius: 15px;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e0e2e2;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input:-ms-input-placeholder {
  text-align: right;
}

input::-moz-placeholder {
  text-align: right;
}

input::-webkit-input-placeholder {
  text-align: right;
}

textarea:focus,
input:focus {
  background-color: #9be4e6;
  border: 2px solid #384047;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 10px;
  height: 50px;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}



/**********
BUTTON LAYOUT
**********/

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1.5px solid #3ac162;
  margin-bottom: 10px;
}

button[type="submit"]:hover {
  background-color: #2d3944;
  border: 1.5px solid black; 
  }
