/***************
DOGS
***************/


.dogs {

@include mobile {
	display: -webkit-flex;
  display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 10px;
}

@include tablet {
	flex-direction: row;
	justify-content: center;
}
	
}


span {
	display: flex;
	margin: 2%;
	justify-content: center;
	margin-left: -20%;
	}

.dogs li {
	width: 190px;
	margin-right: 20px;
}

.dogs li:last-child {
  margin-right: 0;
}