/***************
GENERAL
***************/

body {
  background-color: $white;
  color: $grey;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

p {

  @include mobile {
    margin: 0 auto;
    margin-top: 25px;
    max-width: 90%;
    text-align: center;
  }

  @include tablet {
    max-width: 95%;
  }
}