/***************
BUTTONS
***************/

button {
	display: inline-block;
	padding: 2px;
	margin: 1px;
	width: 27px;
	height: 27px;
	color: $white;
	background: rgba(0,0,0,0);
	border: 0;
}

button:hover,
span:hover {
	cursor: pointer;
}

label,
.option {
	padding-bottom: 10px;
	margin-left: 15px;
	margin-right: 10px;
	color: $white;
}


#play-pause {
	background: url("../icons/play-icon.png") no-repeat;
	margin: 2px 10px;
	margin-left: 10px;
}


#mute {
	background: url("../icons/volume-on-icon.png") no-repeat;
	@extend %margin_btn;
}


#volume-bar {

	@include mobile {
		display: inline-block;
		width: 40px;
		height: 30px;
		margin: 2px 5px;
		float: right;
	}

	@include tablet {
	display: none;
	position: absolute;
	right: 120px;
	bottom: 36px;
	transform:rotate(-90deg);
	}
}


#cc {

	@include mobile {
	background: url("../icons/captions-icon.png") no-repeat;
	display: none;
	margin: 2px 5px;
	float: right;
	margin-top: 4px;
	margin-right: 7px;	
}
	@include tablet {
		display: inline-block;
	}
}


#speed {
	
	@include mobile {
		background: url("../icons/speed-icon.png") no-repeat;
		margin: 2px 5px;
		margin-bottom: 4px;
		float: right;
		display: none;
	}

	@include tablet {
		display: inline-block;
	}
}


#full-screen {
	background: url("../icons/fullscreen-icon.png") no-repeat;
	@extend %margin_btn;
	margin-top: 4px;
}



