@media screen and (min-width: 318px) {

header,
footer,
.wrapper,
.gallery {
	max-width: 500px;
}

.gallery img {
  width: 160px;
  height: 160px;
}

input[type="search"] {
  width: 200px;
}

#overlay img,
#overlay iframe {
	margin-top: 200px;
	width: 250px;
	height: 30%; 
}

#overlay p {
	max-width: 240px;
}

#btnPrev {

  position: absolute;
  float: left;
  top: 45%;
  left: 0;
}

#btnNext {

  position: absolute;
  float: right;
  top: 45%;
  right: 0;
}

}



@media screen and (min-width: 500px) {

#overlay img,
#overlay iframe {
	margin-top: 200px;
	width: 350px;
	height: 45%; 
	margin-top: 100px;
}

#overlay p {
	max-width: 330px;
}

#btnPrev {
  left: 2%;
}

#btnNext {
  right: 2%;
}

}



@media screen and (min-width: 768px) {

header,
footer,
.wrapper,
.gallery {
	max-width: 900px;
}

.gallery img {
  width: 180px;
  height: 180px;
}

input[type="search"] {
  width: 350px;
}

#overlay img,
#overlay iframe {
	margin-top: 230px;
	width: 450px;
	height: 50%; 
}

#overlay p {
	max-width: 430px;
}

#btnPrev {
  left: 10%;
}

#btnNext {
  right: 10%;
}

}



@media screen and (min-width: 1200px) {

header,
footer,
.wrapper,
.gallery {
	max-width: 1040px;
}

.gallery img {
  width: 200px;
  height: 200px;
}

input[type="search"] {
  width: 460px;
}

#overlay img,
#overlay iframe {
	margin-top: 145px;
	width: 600px;
	height: 65%;  
}

#overlay p {
	max-width: 550px;
}

#btnPrev {
  left: 15%;
}

#btnNext {
  right: 15%;
}

}




