/***************
MEDIA QUERIES
***************/

@media screen and (min-width: 330px) {
  .nav .name {
    margin-right: auto;
  }

  .tag,
  .location {
    width: auto;
  }
  
  .nav {
    font-weight: 700;
  }

}

@media screen and (min-width: 720px) {
  
  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex; 
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    font-weight: 700;
    padding: 0 30px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  .card {
    border-top: 4px solid #ccc;
    border-bottom: 4px solid #ccc;
    border-radius: 4px;
    transition: all .5s;
  }

}