/***************
GENERAL
***************/

* {
   box-sizing: border-box;
   text-align: center;
}

body {
  background: $dark_blue;
}

.wrapper {
  margin: 5px auto;
  max-width: 1200px;
}

div {
  margin: 5px auto;
  width: 100%;
  text-align: center;
}

h2 {
  @include mobile {
    text-align: center;
    margin: 50px auto;
    padding: 5px 0;
  }
  @include desktop {
    color: #fff;
  }
}

h3 {
  text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
  font-weight: normal;
  text-align: center;
  line-height: 135%;
  margin: 10px auto;
  padding: 10px 5%;
}

a {
  text-decoration: none;
	color: $black;
	font-weight: normal;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





